.buttons {
  padding-bottom: 20px;
  padding-left: 50px;
}

.heading {
  padding-left: 50px;
}

.labelAllHidden {
  display: none;
}

.labelAll {
  color: white;
  background-color: darkolivegreen;
  margin-left: 30px;
}
