* {
  font-family: monospace;
  line-height: 1.25;
  padding-right: 5px;
}

body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #000000;
  color: #eeeeee;
}

input {
  border-style: none;
}

button {
  background: #444444;
  color: #eeeeee;
  border-style: solid;
  border-color: #444444;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

.red {
  color: #ee0000;
}

.orange {
  color: #ffa500;
}

.green {
  color: #00ff00;
}

.validateBox {
  width: 275px;
  text-align: center;
  background: #eeeeee
}
