* {
  font-family: monospace;
  line-height: 1.5;
}

body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  padding-bottom: 20px;
}

.left {
  margin-left: 20px;
}

.hundred {
  width: 100px;
}

.hidden {
  display: none;
}

.threehundred {
  width: 300px;
}

.red {
  color: red;
}
